extends layout

block variables
	- var page_title= title 
	- var commands_per_page = 10
	- var current_page_number = 1
	- var total_number_of_pages = Math.ceil(total_command_files / commands_per_page) // Returns smallest integer greater than or equal to (command_files.length / commands_per_page)

include menu
include smallModal
include successModal
include errorModal

block header
	header#header.header
		+menu(user, currentPage)

block content(user)
	main#commands_page_main
		+smallModal
		if show_submit_modal 
			+successModal(alert_title, alert_description)
		if show_error_modal
			+errorModal(alert_title, alert_description)
		h1#list_of_commands List of Commands
		aside#create_new_command_link_container
			a#create_new_command_link_anchor(href='/admin/newcommand') Create new command
		
		article#bot_command_list_container_article
			section#search_and_sort_container 
				div#search-bar-container
					input#search_input(type='text' placeholder="Search commands...")
				div#sort-buttons-container
					button#sort_ascending Sort ascending
					button#sort_descending Sort descending
			ul#bot_command_list
				-for (let i = (current_page_number - 1) * commands_per_page; i < Math.min(current_page_number * commands_per_page, commands.length); i++) {
					li.bot_command_list_item_edit_li 
						div.bot_item_edit
							a.bot_command_list_item_edit(href=`/admin/command/${encodeURIComponent(commands[i].package_name)}`)= commands[i].package_name
						div.bot_item_delete
							a.bot_command_list_item_delete(href=``) Delete this command
				-}
		nav.pagination
			ul.pagination_list
				for page in page_numbers 
					li.pagination_page_item(class=current_page_of_commands === page ? 'active': '')
						a.pagination_page_link(href=`commands?range=${(page-1) * commands_per_page + 1}&${page * commands_per_page}`) Page #{page}
				

	script(src='/javascripts/admin_index_page.js')
