extends layout

block variables
	- var page_title= title 
	- var command_buttons_per_page = 10
	- var current_page_number = 1
	- var total_number_of_pages = Math.ceil(total_command_files / command_buttons_per_page) // Returns smallest integer greater than or equal to (command_files.length / command_buttons_per_page)

block content(content)
	article#message_dialog 
		-if (alert_info) {
			p= alert_info
		-}
	main#commands_page_main
		h1#list_of_commands List of Commands
		aside#create_new_command_link_container
			a#create_new_command_link_anchor(href='/admin/commands/new') Create new command
		article#bot_command_list_container_article
			ul#bot_command_list
				-for (let i = (current_page_number - 1) * command_buttons_per_page; i < Math.min(current_page_number * command_buttons_per_page, command_files.length); i++) {
					li.bot_command_list_item_edit_li 
						div.bot_item_edit
							a.bot_command_list_item_edit(href=`/admin/commands/${command_files[i]}`)= command_files[i]
						div.bot_item_delete
							a.bot_command_list_item_delete(href=``) Delete this command
				-}
		nav.pagination
			ul.pagination_list
				for page in page_numbers 
					li.pagination_page_item(class=current_page_of_commands === page ? 'active': '')
						a.pagination_page_link(href=`/admin/commands?range=${(page-1) * command_buttons_per_page + 1}&${page * command_buttons_per_page}`) #{page}
				

	script(src='/javascripts/admin_index_page.js')
