extends layout


block variables
	- var page_title = 'Discord channel id editor'

include menu

block header
	header#header.header
		+menu(user, currentPage)

block content(user)
	main#discord_channel_id_edit_page
		h2#discord_channel_id_editor_heading View or edit discord channel ids
		article#heading_for_adding_items On this page, you must specify the channel id for the specified text channels on Discord

		form#discord_channel_ids_form(class="needs-validation bot_data_form" method='POST', action='/admin/setdiscordchannelids')
			section#new_discord_channel_ids_section
			
				fieldset#bot_ingame_chat_channel_id_fieldset(class="discord_channel_ids_fieldset")
					article#bot_ingame_chat_channel_id_article(class='discord_channel_ids_article')
						label(class="discord_channel_id_label",for='bot_ingame_chat_log_channel_id_input') Discord channel id for scum server player chat that consists of 19 numbers where each number between 0 and 9, inclusive
						input.validate-input#discord_channel_id_for_scum_chat_input(
							class="discord_channel_id_input",
							type='text',
							name='bot_ingame_chat_log_channel_id_input', 
							required,
							pattern="^[0-9]{19}",
							title="Please enter a discord channel id that consists of 19 numbers where each number is between 0 and 9, inclusive"
							placeholder='1234567891234567891')
						div#discord_channel_id_for_scum_chat_input_feedback

				fieldset#bot_ingame_logins_channel_id_fieldset(class="discord_channel_ids_fieldset")
					article#bot_ingame_logins_channel_id_article(class='discord_channel_ids_article')
						label(class="discord_channel_id_label",for='bot_ingame_logins_channel_id_input') Discord channel id for scum server player logins that consists of 19 numbers where each number is between 0 and 9, inclusive
						input.validate-input#discord_channel_id_for_scum_logins_input(
							class="discord_channel_id_input",
							type='text',
							name='bot_ingame_logins_channel_id_input', 
							required,
							pattern="^[0-9]{19}",
							title="Please enter a discord channel id that consists of 19 numbers where each number is between 0 and 9, inclusive"
							placeholder='1234567891234567891')
						div#discord_channel_id_for_scum_logins_input_feedback

				fieldset#bot_ingame_new_player_joins_fieldset(class="discord_channel_ids_fieldset")
					article#bot_ingame_new_player_joins_id_article(class='discord_channel_ids_article')
						label(class="discord_channel_id_label",for='bot_ingame_new_player_joined_id_input') Discord channel id for scum server new player joins that consists of 19 numbers where each number is between 0 and 9, inclusive
						input.validate-input#discord_channel_id_for_scum_new_player_joins(
							class="discord_channel_id_input",
							type='text',
							name='bot_ingame_new_player_joined_id_input', 
							required,
							pattern="^[0-9]{19}",
							title="Please enter a discord channel id that consists of 19 numbers where each number is between 0 and 9, inclusive"
							placeholder='1234567891234567891')
						div#discord_channel_id_for_scum_new_player_joins_feedback

				fieldset#battlemetrics_scum_server_id_fieldset(class="discord_channel_ids_fieldset")
					article#battlemetrics_server_id_article(class='discord_channel_ids_article')
						label(class="discord_channel_id_label",for='battlemetrics_server_id_input') Battlemetrics server id that consists of only numbers where each number is between 0 and 9, inclusive
						input.validate-input#discord_channel_id_for_battlemetrics_info(
							class="discord_channel_id_input",
							type='text',
							name='battlemetrics_server_id_input', 
							required,
							pattern="^[0-9]{1,}$",
							title="Please enter a battlemetrics server id that consists of only numbers where each number is between 0 and 9, inclusive"
							placeholder='23474')
						div#discord_channel_id_for_battlemetrics_info_feedback

				fieldset#bot_server_info_button_channel_id_fieldset(class="discord_channel_ids_fieldset")
					article#battlemetrics_server_info_button_channel_id_article(class='discord_channel_ids_article') 
						label(class="discord_channel_id_label",for='discord_channel_id_for_server_info_button') Discord channel id for server info button that consists of only numbers where each number is between 0 and 9, inclusive
						input.validate-input#discord_channel_id_for_server_info_button(
							class="discord_channel_id_input",
							type='text',
							name='bot_server_info_channel_id_input',
							required,
							pattern="^[0-9]{19}$",
							title="Please enter a discord channel id that consists of 19 numbers where each number is between 0 and 9, inclusive"
							placeholder='1234567891234567891')
						div#discord_channel_id_for_server_info_button_feedback

			section#discord_channel_ids_form_field_buttons
				fieldset#save_command_changes
					button#save_changes_to_discord_channel_ids_button(type='submit') Save

				fieldset#cancel_command_changes
					button#cancel_changes_to_discord_channel_ids_button(type='button') Cancel
	script(src="/javascripts/validate_form_fields.js")