extends layout

block variables
    - var page_title = 'FTP data editor'

include menu

block header
    header#header.header
        +menu(user)

block content(user)
    main#ftp_server_data_edit_page    
        h2#ftp_server_data_edit_page_heading(class="text-center") View or edit FTP server data
        article#article_for_ftp_data_page_disclaimer(class="text-center") On this page, you must specify the FTP server details for your server provider
        
        span#span_ftp_server_data_screen_name #{file_name}

        form#ftp_server_data_form(method="POST", action="/admin/setftpserverdata" class="needs-validation bot_data_form")
            section#new_ftp_server_data_section
                fieldset#ftp_server_hostname_fieldset.ftp_server_data_fieldset
                    article#ftp_server_hostname_article(class='article_for_ftp_server_data')
                        label(class="ftp_server_data_label",for='ftp_server_hostname_input') FTP server IPv4 address (Must be an IPv4 address of the format: x.x.x.x where x is between 0 and 255)
                        input.validate-input#ftp_server_hostname_input(
                            class="ftp_server_data_input",
                            type='text',
                            name='ftp_server_hostname_input', 
                            pattern="^(25[0-5]|2[0-4]\\d|1\\d{2}|[1-9]?\\d)(\\.(25[0-5]|2[0-4]\\d|1\\d{2}|[1-9]?\\d)){3}$",                           
                            placeholder='192.168.122.56',
                            value= user.ftp_server_ip ? user.ftp_server_ip : "",
                            required,
                            title="Please enter an IP address that follows the rule defined above")
                        div#ftp_server_hostname_input_feedback

                fieldset#ftp_server_port_fieldset.ftp_server_data_fieldset
                    article#bot_ingame_chat_channel_id_article(class='article_for_ftp_server_data')
                        label(class="ftp_server_data_label",for='ftp_server_port_input') FTP server port number (Port number will be between 1024 and 65535)
                        input.validate-input#ftp_server_port_input(
                            class="ftp_server_data_input",
                            type='text',
                            min='0',
                            pattern="^(102[4-9]|10[3-9][0-9]|1[1-9][0-9]{2}|[2-9][0-9]{3}|[1-5][0-9]{4}|6[0-4][0-9]{3}|65[0-4][0-9]{2}|655[0-2][0-9]|6553[0-5])$",                            
                            title="Please enter an FTP server port number that follows the rule defined above",
                            name='ftp_server_port_input', 
                            value= user.ftp_server_port ? user.ftp_server_port : "",
                            required,
                            placeholder='52000')
                        div#ftp_server_port_input_feedback

                fieldset#ftp_server_username_fieldset.ftp_server_data_fieldset
                    article#bot_ingame_logins_channel_id_article(class='article_for_ftp_server_data')
                        label(class="ftp_server_data_label",for='ftp_server_username_input') FTP server username (e.g. JacobG123). This can only be the dash (-) or lowercase (_) character, upper and lowercase letters, and numbers 0 through 9
                        input.validate-input#ftp_server_username_input(
                            class="ftp_server_data_input",
                            type='text',
                            title="Please enter an FTP server username that follows the rule defined above",
                            pattern="^[a-zA-Z0-9_]*$",
                            name='ftp_server_username_input', 
                            value= user.ftp_server_username ? user.ftp_server_username : "",
                            required,
                            placeholder='JacobG123')
                        div#ftp_server_username_input_feedback

                fieldset#ftp_server_password_fieldset.ftp_server_data_fieldset
                    article#bot_ingame_new_player_joins_id_article(class='article_for_ftp_server_data')
                        label(class="ftp_server_data_label",for='ftp_server_password_input') FTP server password (e.g. aED1PbAfqBTjPWnRF1kKUQgd). Your password must contain at least one number ranging from 0 through 9, contain 1 upper and lower case letter, 1 special character, and be between 8 and 32 characters long. 
                        input.validate-input#ftp_server_password_input(
                            class="ftp_server_data_input",
                            type='password',
                            name='ftp_server_password_input', 
                            title="Please enter an FTP server password that follows the rule defined above",
                            pattern="^[a-zA-Z0-9 ]{1,}$",      
                            value= user.ftp_server_password ? user.ftp_server_password : "",                      
                            required,
                            placeholder='aED1PbAfqBTjPWnRF1kKUQgd')
                        button#toggle_password_visibility_button(class="btn btn-primary" type="button") Toggle Password Visibility
                        div#ftp_server_password_input_feedback 

                fieldset#ftp_server_password_confirm_fieldset.ftp_server_data_fieldset
                    article#bot_ingame_new_player_joins_id_article(class='article_for_ftp_server_data')
                        label(class="ftp_server_data_label",for='ftp_server_confirm_password_input') FTP server confirm password (e.g. aED1PbAfqBTjPWnRF1kKUQgd). This password must be the same as the password above
                        input.validate-input#ftp_server_confirm_password_input(
                            class="ftp_server_data_input",
                            type='password',
                            name='ftp_server_confirm_password_input', 
                            pattern="^[a-zA-Z0-9 ]{1,}$",
                            value= "",
                            required,
                            placeholder='aED1PbAfqBTjPWnRF1kKUQgd')
                        div#ftp_server_confirm_password_input_feedback
                        
                fieldset#ftp_server_data_form_field_buttons
                    button#save_changes_to_ftp_server_data_button(class="" type='submit') Save
                    button#cancel_changes_to_ftp_server_data_button(class="" type='button') Cancel
    script(src="/javascripts/validate_form_fields.js")
