extends layout


block variables
	- var page_title= title

include menu
include smallModal
include cancelModal
include successModal
include errorModal

block header
	header#header.header
		+menu(user, currentPage)

block content(user)
	main#game_server_data_edit_page
		+smallModal(submit_modal_title, submit_modal_description)
		+cancelModal(cancel_modal_title, cancel_modal_description)
		if show_submit_modal 
			+successModal(alert_title, alert_description)
		if show_error_modal
			+errorModal(alert_title, alert_description)
			
		h1#game_server_data_edit_page_heading Game server data
		article#article_for_ftp_data_page_disclaimer(class="text-center") On this page, you must specify your game server details (IP address and port number)

		form#game_server_data_form(method='POST', action='/admin/setgameserverdata/' class="needs-validation bot_data_form")
			fieldset#game_server_hostname_fieldset.game_server_fieldset
				article#game_server_hostname_article(class='article_for_game_server_data')
					label(class='game_server_data_label', for='game_server_hostname_input') Game server IP address (Must be an IPv4 address of the format: x.x.x.x where x is between 0 and 255)
					input.validate-input#game_server_hostname_input(
						class="game_server_data_input", 
						type="text", 
						name="game_server_hostname_input", 
						value= user.game_server_ipv4_address ? user.game_server_ipv4_address : ''
						pattern="^(25[0-5]|2[0-4]\\d|1\\d{2}|[1-9]?\\d)(\\.(25[0-5]|2[0-4]\\d|1\\d{2}|[1-9]?\\d)){3}$",
						required,
						title="Please enter an IP address that follows the rule shown above",
						placeholder="192.168.122.56")
					div#game_server_hostname_input_feedback

			fieldset#game_server_port_fieldset.game_server_fieldset
				article#game_server_port_article(class='article_for_game_server_data')
					label(class='game_server_data_label', for='game_server_port_input') (Port number will be between 1024 and 65535)
					input.validate-input#game_server_port_input(
						class="game_server_data_input", 
						type="text", 
						min="0",
						name="game_server_port_input", 
						value= user.game_server_port ? user.game_server_port : ''
						pattern="^(102[4-9]|10[3-9][0-9]|1[1-9][0-9]{2}|[2-9][0-9]{3}|[1-5][0-9]{4}|6[0-4][0-9]{3}|65[0-4][0-9]{2}|655[0-2][0-9]|6553[0-5])$",
						required,
						title="Please enter a port number that follows the rule shown above",
						placeholder="52000")
					div#game_server_port_input_feedback

			fieldset#save_game_server_data_changes.fieldset_for_form_buttons
					button#save_changes_button(type='submit') Save

	script(src="/javascripts/validate_form_fields.js")
	script(src="/javascripts/show_submit_modal.js")