extends layout 

block variables 
    - var page_title = title 
    - var user_steam_name_no_parenthesis = player.user_steam_name.replace(/\(\d+\)/, '') 

include menu 
include smallModal 
include deleteModal 
include successModal 
include errorModal 

block header 
    header#header.header 
        +menu(user, currentPage)

block content(user)
    main#main_player_details 
        h1 #{user_steam_name_no_parenthesis}
        -if (user.bot_username) {
            h3#player_name_with_bot Player name with bot: #{player.user_steam_name}
        -}
        article#main_player_details_article
            h5 Steam name: #{user_steam_name_no_parenthesis}
            h5 Steam id: #{player.user_steam_id}
            h5 Balance: $#{player.user_money}
            h5 Welcome pack uses: #{player.welcome_pack_uses || 0}

        article#main_player_details_back_to_list
            a(href="/admin/players?range=1&10") Back to players list 

    script(src='/javascripts/admin_index_page.js')